body {
         font-family:Arial, sans-serif;
         text-align: center;
         background-color: black;
}

h1, h2 {
         color: black;
}

nav a {
         text-decoration: none;
         color: darkred;
         margin: 0 10px;
}
